body,html{
	background: #f1f1f1;
}

header{padding-bottom:20px;border-bottom:2px solid #0075B0;background:#fff;}

section{
	background:#fff;
	
}

section .margin{
	padding:20px 0 80px;
}
.posi{
	padding-bottom:40px;
}
.ok{
	margin-right: 15px;
}
.state{
	margin-bottom:40px;
	font:12px/30px "微软雅黑";
	text-align:center;
}
.state .green{
	display:inline-block;
	line-height:30px;
	vertical-align:middle;
	width: 256px;
	height:18px;
	margin-top:-4px;
	background:url(../img/green.jpg);
	margin-right:15px;
}
.green_font{
	color:#add352;
}
.state .gray{
	display:inline-block;
	width: 256px;
	height:18px;
	line-height:30px;
	vertical-align:middle;
	background:url(../img/gray.jpg);
	margin:-4px 15px 0;
}

.payment{
	text-align:center;
	width:100%;
	font:14px/30px "微软雅黑";
	color:#333;
}
.payment ul{
	height:52px;
}
.payment ul li{
	float: left;
	height:50px;
	width:200px;
	background:#fff;
	border: 1px solid #dce7ff;
	border-bottom:0;
	background:#f9fbff;
}
.payment ul li.first{
	border-color: #b1d0ff;
	height:52px;
}
.payment ul li img{
	height:50px;
	width:150px;
}
.money{
	margin:30px 30px 0;
	border-top:1px solid #ddd;
	text-align:left;
	font:18px/32px "微软雅黑";
	padding-top:20px;
	color:#666;
}
.moneys{
	font:20px/32px "微软雅黑";
	color:#ff6600;
	margin-left:12px;
}
.border{
	border:1px solid #b1d0ff;
}
.img img{
	display:none;
	padding:20px 0;
}
.img .first{
	display:block;
	margin: 0 auto;
}

.finish{
	float:right;
	display:inline-block;
	background:#ffb100;
	padding:6px 30px;
	border-radius:5px;
	color:#fff;
	margin: 20px 40px;
}
.finish:hover{
	background:#ff9600;
	color:#fff;
}
.logreg{margin-top:0 ;}