.video_detail{text-align:center;font-family: 微软雅黑;}
.video_detail h2{font:24px/30px "微软雅黑";}
.video_detail .info{ font-size: 14px;color: #555;text-align: center;margin: 30px 0 25px;}
.video_detail .info span{margin: 0 35px;}
   