.zhannew{width:680px;text-align:center;padding-bottom:20px;}
.boxp p{text-align:left;font-size:14px; text-indent:2em; line-height:28px; padding:0 20px;}
.zhannew span{color:#bbb;margin-bottom:10px;display:block;}
